<h1><%= @user.first_name%> <%= @user.last_name %>'s playlist</h1>
<a type="button" href="/songs">To Songs</a>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Artist</th>
      <th scope="col">Title</th>
      <th scope="col">Times Added</th>
    </tr>
  </thead>
  <% @user.songs.each do |song| %>
  <tbody>
    <td><%= song.artist %></td>
    <td><%= song.title %></td> 
    <td><%= song.user_playlists.where(song: song).where(user: @user.id).count %></td>
    <% end %>
  </tbody>
</table>
